editdistance==0.8.1
einops==0.8.1
gradio==4.44.0
librosa==0.10.2.post1
more_itertools==10.6.0
numpy==2.0.2
omegaconf==2.3.0
pandas==2.2.3
peft==0.14.0
sacrebleu==1.5.1
soundfile==0.12.1
tensorboardX==2.6.2.2
tensorboardX==2.6.2.2
torch==2.5.1
torchaudio==2.5.1
tqdm==4.67.1
transformers==4.46.3
wandb==0.19.6
bitsandbytes==0.45.2
